---
const pdfPath = "/group/ptacek/resonances-2022.pdf";

const videos = [
    {
        title: "Open Quantum Sytems",
        url: "https://www.youtube.com/@openqsl2665",
        description: "a channel dedicated so far to nonlinear optical spectroscopy and quantum optics",
    },
    {
        title: "(Quantum) Strangeness",
        url: "https://www.youtube.com/@QuantumStrangeness",
        description: "a popular science channel about quantum physics, its history and basic concepts",
    },
];
---

<center>Welcome to the customized part of my webpage!</center>

<div class="mx-auto flex flex-col items-center content-center mt-4">
    Here is a project file that I'm planning to expand on in the future.

    <h2 class="title">Quantum Theory of Resonances</h2>
    <div class="resize-y overflow-auto">
        <object data={pdfPath} type="application/pdf" width="800px" height="500px">
            <embed src={pdfPath}>
                <p>This browser does not support PDFs. Please download the PDF to view it: 
                    <a href={pdfPath}>
                        Download PDF
                    </a>
                    .
                </p>
            </embed>
        </object>
    </div>

    <div class="mt-8 text-xl">You can also visit YouTube channels that I'm co-author of:</div>
    <ul class="list-disc">
        {videos.map((video) => (
            <li class="mt-2">
                <a href={video.url} target="_blank" class="text-accent-base hover:underline">
                    {video.title}
                </a>
                &mdash; {video.description}
            </li>
        ))}
    </ul>
</div>