---
import { getCollection } from "astro:content";
import CoursesLayout from "@/layouts/Courses.astro";
import type { CollectionEntry } from "astro:content";
import { slugify } from "@/utils/strings.ts"

const collectionName = "coursesMancal";
const rootPath = "/mancal/teaching/";

export async function getStaticPaths() {
    // The getCollection function accepts only literal string, not a vriable!
    const courses = await getCollection("coursesMancal");
    return courses.flatMap((course) =>
        course.data.content.flatMap((section) =>
            section.sectionContent.flatMap((subsection) =>
                subsection.subsectionContent.map((video, idx, arr) => ({
                    params: {
                        course: course.id,
                        page: slugify(video.title),
                        // page: video.title
                        //         .toLowerCase()
                        //         .trim()
                        //         .replace(/[^a-z0-9\s]/g, '') // Remove non-alphanumeric characters except spaces and hyphens
                        //         .replace(/\s/g, '-') // Replace spaces with hyphens
                        //         .replace(/-+/g, '-') // Replace multiple hyphens with a single hyphen
                        //         .replace(/(^-|-$)+/g, ""),
                    },
                    props: {
                        course,
                        section,
                        subsection,
                        video,
                        videoIndex: idx,
                        videos: arr,
                    },
                }))
            )
        )
    );
}

const { course, section, subsection, video, videoIndex, videos } = Astro.props;

// Pagination logic for previous/next video in the same subsection
const prevVideo = videoIndex > 0 ? videos[videoIndex - 1] : null;
const nextVideo = videoIndex < videos.length - 1 ? videos[videoIndex + 1] : null;

const prevUrl = prevVideo
    ? `${rootPath}${course.id}/${slugify(prevVideo.title)}`
    : null;
const nextUrl = nextVideo
    ? `${rootPath}${course.id}/${slugify(nextVideo.title)}`
    : null;

const meta = {
    title: video.title,
    description: video.description || "",
};

const videoId = video.videoUrl.split("watch?v=")[1];
---

<CoursesLayout meta={meta} collectionName={collectionName}>
    <div>
        <a href=`${rootPath}${course.id}`>
            {course.data.courseName} / {section.sectionTitle} / {subsection.subsectionTitle} /
        </a>
    </div>

    <h1 class="title mb-6">{videoIndex+1} {video.title}</h1>
    <p>{video.description}</p>

    <div class="flex justify-center mt-8">
        <iframe src={`https://www.youtube.com/embed/${videoId}`} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <nav class="flex flex-row mt-8">
        {prevUrl && 
            <a href={prevUrl} class="flex flex-col items-right">
                <div  class="text-base">← Previous Video</div>
                <div class="text-sm text-light">
                    <div>{prevVideo.title}</div>
                    <div>({videoIndex} of {videos.length})</div>
                </div>
            </a>
        }
        <div class="mx-auto"></div>
        {nextUrl && 
            <a href={nextUrl} class="flex flex-col text-right items-right">
                <div class="text-base">Next Video →</div>
                <div class="text-sm text-light">
                    <div>{nextVideo.title}</div>
                    <div>({videoIndex + 2} of {videos.length})</div>
                </div>
            </a>
        }
    </nav>
</CoursesLayout>
