---
import { menuLinks, siteConfig } from "@/site.config";
import { Image } from "astro:assets";
import logoMffCuni from "@/assets/images/logo-mff-cuni-eng-300.png";

const year = new Date().getFullYear();
---

<footer
	class="semibold mt-auto flex w-full flex items-center justify-between gap-y-2 pb-4 pt-8 text-center align-top text-accent text-sm sm:flex-row sm:justify-between sm:text-sm"
>	<div>
		<div class="justify-left mb-1">
			<a href="https://www.mff.cuni.cz/cs/fuuk/oddeleni-teoreticke/vitejte" class="hover:text-accent hover:underline">
				Theoretical division
			</a>|
			<a href="https://www.mff.cuni.cz/cs/fakulta/organizacni-struktura/katedra?code=102" class="hover:text-accent hover:underline">
				Institute of Physics
			</a>
		</div>
		<div class="flex me-0 font-semibold sm:me-4">
			&copy; {siteConfig.author} {year}
		</div>
	</div>
	<div class="justify-right">
		<div class="flex-none">
			<a href="https://www.mff.cuni.cz/">
				<Image src={logoMffCuni} alt="logo-mff" height="150" width="300"/>
			</a>
		</div>
		<br>
		<!-- <nav
			aria-label="More on this site"
			class="flex justify-between space-x-4 font-medium text-light md:w-[14rem] w-auto"
		>
			{
				menuLinks.map((link) => (
					<a class="underline-offset-2 hover:text-accent hover:underline" href={link.path}>
						{link.title}
					</a>
				))
			}
		</nav> -->
	</div>
</footer>
