---
import TitlePageLayout from "@/layouts/TitlePageBase.astro";
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import membersList from "@/content/group.json";

const profilePhotoFolder = "/src/assets/profile_photos/"
/* The argument of import.meta.glob must not contain any variable! Must be a string as it si now! */
const allImages = import.meta.glob<{ default: ImageMetadata }>("/src/assets/profile_photos/*.{jpg,png,webp,jpeg,gif}");

// opt to default photo if it's not specified
const defaultPhoto = 'profile-img.jpg';
const getImagePath = (photo) => {
  return photo ? allImages[profilePhotoFolder + photo]() : allImages[profilePhotoFolder + defaultPhoto]();
};

// order the members according to the dictionary, others will be put to the end
const positionOrder = { "group co-leader": 1, "postdoc": 2, "PhD student": 3, "collaborator": 'last', "secretary": 'last', };

const activeMembers = membersList.filter((person) => person.active == "True");
const pastMembers = membersList.filter((person) => person.active == "False");
---

<TitlePageLayout meta={{ title: "Group" }}>
    <section class="mx-auto relative flex flex-col items-center justify-center h-screen -mt-24">
        <h1 class="text-center">
            Current members of the group
        </h1>
        <div class="justify-center flex mt-4">
            <div class="flex flex-wrap gap-4 justify-center mt-4 mb-5 max-w-4xl">
                {activeMembers.map(person => 
                    <a 
                        href={`/group/${person.path}`} 
                        class={`relative items-center justify-center h-50 px-4 py-2 rounded-lg shadow-lg bg-special-lighter hover:brightness-80 hover:bg-special-lightest text-center ${positionOrder[person.position] !== undefined ? `order-${positionOrder[person.position]}` : 'order-last'}`}
                    >
                        {/* <p>{`order-${positionOrder[person.position] || 'last'}`}</p> */}
                        <div class="flex justify-center text-center imgcircle mt-2">
                            <Image src={getImagePath(person.photo)} alt="profile-photo" height="90" width="90"/>
                        </div>
                        <h3>{person.name}</h3>
                        <p><i>{person.position}</i></p>
                    </a>)}
            </div>
        </div>
    </section>
    
    <section class="relative items-center justify-center client:visible">
        <h1 class="text-center">
            Past members of the group
        </h1>
        <div class="justify-center flex mb-4">
            <div class="flex flex-wrap gap-4 justify-center mt-4 mb-15 max-w-4xl">
                {pastMembers.sort((a,b) => a.years.to - b.years.to).map((person) => 
                    <a 
                        href={`/group/${person.path}`} 
                        class={`relative items-center justify-center h-50 px-4 rounded-lg shadow-lg bg-special-light hover:brightness-80 hover:bg-special-lighter text-center order-${positionOrder[person.position] || 'last'}`}
                    >
                        {/* <p>{`order-${positionOrder[person.position] || 'last'}`}</p> */}
                        <div class="flex justify-center text-center imgcircle mt-2">
                            <Image src={getImagePath(person.photo)} alt="profile-photo" height="90" width="90"/>
                        </div>
                        <h3>{person.name}</h3>
                        <p><i>{person.position}</i></p>
                        {person.years && <p><i>{person.years.from} &ndash; {person.years.to}</i></p>}
                    </a>)}
            </div>
        </div>
    </section>
</TitlePageLayout>