---
import { type CollectionEntry, getCollection } from "astro:content";
import NewsPreview from "@/components/news/NewsPreview.astro";
import { getAllNews, getAllPosts } from "@/data/post";
import { collectionDateSort } from "@/utils/date";
import TitlePageLayout from "@/layouts/TitlePageBase.astro";
import PageLayout from "@/layouts/Base.astro";
import EmblaCarousel from "@/components/carousel/EmblaCarousel";
import Research from "@/components/Research.astro";

const meta = {
    description: "Research group at Charles University in Prague, Czechia. We focus on nonlinear spectroscopy of molecular aggregates and theory of open quantum systems.",
    title: "MaMa Group | Charles University",
};

// Posts, News
const maxNews = 10;
const maxTopNews = 3; // plus intro slide
const allNews = await getAllNews();

const topNewsByDate = allNews
	.sort(collectionDateSort)
	.slice(0, maxTopNews) as CollectionEntry<"news">[];
const moreNewsByDate = allNews
	.sort(collectionDateSort)
	.slice(0, maxNews) as CollectionEntry<"news">[];

const options = { direction: 'ltr', loop: true };
---

<TitlePageLayout meta={{ title: "Home" }}>
	<div itemscope itemtype="https://schema.org/WebSite">
		<link itemprop="url" href="https://mama-group.cz" />
		<meta itemprop="name" content="MaMa Group | Charles University"/>
		<meta itemprop="alternateName" content="MaMa Group, mama-group.cz"/>
	</div>

	<div class="flex flex-col gap-[80px] w-full">
		<div class="w-full overflow-hidden px-0">
			<EmblaCarousel slides={topNewsByDate} options={options} client:load/>
		</div>
	</div>

	<!-- Posts Section -->
	<!-- <section aria-label="Blog post list" class="'mt-[-100vh] pt-[100vh]'">
		<h2 class="title mb-6 text-xl text-accent-two">
			<a href="/posts/">Posts</a>
		</h2>
		<ul class="space-y-4 md:space-y-2" role="list">
			{
				allPostsByDate.map((p) => (
					<li class="gap-2 sm:grid-cols-[auto_1fr]">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section> -->

	<!-- Notes Section -->
	<!-- {
		latestNotes.length > 0 && (
			<section class="mt-12">
				<h2 class="title mb-6 text-accent-two">
					<a href="/notes/">Notes</a>
				</h2>
				<div class="grid grid-cols-1 gap-8 sm:grid-cols-2">
					{
						latestNotes.map((note) => (
							<div>
								<Note note={note} as="h4" isPreview />
							</div>
						))
					}
				</div>
			</section>
		)
	} -->
		
	<section class="md:max-w-2xl mx-auto relative sm:mt-[3svh]" id="research-section">
		<Research />
    </section>

	<section class="mx-auto flex flex-col items-center justify-center mb-6 client:visible">
		<h2 class="text-center mb-4">
			<a href="/news" class="title text-3xl citrus-link">News</a>
		</h2>
		<div class="mt-4 flex flex-col w-full md:grid md:grid-cols-4 align-content-center gap-4">
			{ moreNewsByDate.map((p) => <NewsPreview post={p} />)}
		</div>
	</section>
</TitlePageLayout>


