---
import { type CollectionEntry, getCollection } from "astro:content";
import NewsPreview from "@/components/news/NewsPreview.astro";
import { getAllNews, getAllPosts } from "@/data/post";
import { collectionDateSort } from "@/utils/date";
import TitlePageLayout from "@/layouts/TitlePageBase.astro";
import PageLayout from "@/layouts/Base.astro";
import { Image } from "astro:assets";
// import imgFmo from "@/assets/images/fmo-500.png";
import EmblaCarousel from "@/components/carousel/EmblaCarousel";

// Posts, News
const maxNews = 10;
const maxTopNews = 3; // plus intro slide
const allNews = await getAllNews();

const topNewsByDate = allNews
	.sort(collectionDateSort)
	.slice(0, maxTopNews) as CollectionEntry<"news">[];
const moreNewsByDate = allNews
	.sort(collectionDateSort)
	.slice(0, maxNews) as CollectionEntry<"news">[];

const options = { direction: 'ltr', loop: true };
---

<PageLayout meta={{ title: "Home" }}>
	<div itemscope itemtype="https://schema.org/WebSite">
		<link itemprop="url" href="https://mama-group.cz" />
		<meta itemprop="name" content="MaMa Group - Charles University"/>
		<meta itemprop="alternateName" content="MaMa"/>
	</div>
	<!-- <div class="flex flex-col"> -->
		<!-- <section class="max-w-xl mx-auto relative flex shrink items-center justify-center h-screen -mt-24">
			<div class="w-full text-center">
				<div class="flex justify-center mb-4 dark:brightness-200">
					<Image src={imgFmo} alt="fmo" widths={[254, 500]} sizes="(max-width: 608px) 254px, 500px"/>
					<Image src={imgFmo} alt="fmo" width="500" height="500"/>
				</div>
				<span class="title text-3xl bg-gradient-to-r from-accent-two/85 via-accent-one/85 to-accent-two/85 dark:from-accent-two dark:via-accent-one dark:to-accent-two bg-clip-text text-transparent">
					Welcome to MaMa Group website
				</span>
				<p class="mt-4 mb-4 text-lg font-medium">
					where we bridge theoretical and experimental knowledge<br> of nonlinear optical spectroscopy
				</p>
				<div class="flex justify-center mb-4">
					<SocialList />
				</div>
				<div class="flex justify-center space-x-4 mt-4">
					<a href="/posts/" class="relative flex items-center justify-center h-8 px-4 rounded-lg shadow-lg hover:brightness-110 transition-all bg-gradient-to-r from-accent-one to-accent-two">
						<span class="text-bgColor font-semibold">
							Read Blog
						</span>
					</a>

					<a href="/notes/wake-up/" class="relative flex items-center justify-center h-8 px-4 rounded-lg shadow-lg bg-special-lighter hover:brightness-110 hover:bg-special-lightest">
						<span class="bg-clip-text text-transparent font-semibold bg-gradient-to-r from-accent-one to-accent-two">
							Wake up
						</span>
					</a>
				</div>
			</div>
		</section> -->

		<!-- <section class="max-w-3xl mx-auto relative flex flex-col items-center justify-center -mt-2 mb-6 client:visible">
			<h2 class="text-center mb-4">
				<a href="/news" class="title text-2xl citrus-link">News</a>
			</h2>
			<div class="mt-4 flex flex-col w-full align-content-center gap-4">
				{ allNewsByDate.map((p) => <NewsPreview post={p} />)}
			</div>
		</section> -->
	<!-- </div> -->
	<div class="flex flex-col gap-[80px] w-full">
		<div class="w-full overflow-hidden px-0">
			<EmblaCarousel slides={topNewsByDate} options={options} client:load/>
		</div>

		<section class="mx-auto flex flex-col items-center justify-center mb-6 client:visible">
        <h2 class="text-center mb-4">
            <a href="/news" class="title text-3xl citrus-link">News</a>
        </h2>
        <div class="mt-4 flex flex-col md:grid md:grid-cols-4 align-content-center gap-4">
            { moreNewsByDate.map((p) => <NewsPreview post={p} />)}
        </div>
    </section>
	</div>

	<!-- Posts Section -->
	<!-- <section aria-label="Blog post list" class="'mt-[-100vh] pt-[100vh]'">
		<h2 class="title mb-6 text-xl text-accent-two">
			<a href="/posts/">Posts</a>
		</h2>
		<ul class="space-y-4 md:space-y-2" role="list">
			{
				allPostsByDate.map((p) => (
					<li class="gap-2 sm:grid-cols-[auto_1fr]">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section> -->

	<!-- Notes Section -->
	<!-- {
		latestNotes.length > 0 && (
			<section class="mt-12">
				<h2 class="title mb-6 text-accent-two">
					<a href="/notes/">Notes</a>
				</h2>
				<div class="grid grid-cols-1 gap-8 sm:grid-cols-2">
					{
						latestNotes.map((note) => (
							<div>
								<Note note={note} as="h4" isPreview />
							</div>
						))
					}
				</div>
			</section>
		)
	} -->

</PageLayout>

